/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.01.2017, 22:57:47
    Author     : nikita
*/
@media (min-width: 768px) {
  #index {
    padding: 40px 0px;
  }
}
@media (min-width: 992px) {
  #index {
    padding: 80px 0px;
  }
}
@media (min-width: 1200px) {
  #index {
    padding: 120px 0px;
  }
}
#index #result {
  padding-top: 30px;
}
#index #result iframe {
  display: inline-block;
}
@media (min-width: 768px) {
  #index #result iframe {
    width: 450px;
    height: 300px;
  }
}
@media (min-width: 992px) {
  #index #result iframe {
    width: 750px;
    height: 550px;
  }
}
@media (min-width: 1200px) {
  #index #result iframe {
    width: 900px;
    height: 650px;
  }
}
#index #result .error {
  max-width: 100%;
  display: inline-block;
}
/*# sourceMappingURL=site.css.map */