/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.01.2017, 22:57:47
    Author     : nikita
*/

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;



#index{
    @media (min-width: @screen-sm-min) {
        padding: 40px 0px;
    }

    @media (min-width: @screen-md-min) {
        padding: 80px 0px;
    }
    
    @media (min-width: @screen-lg-min) {
        padding: 120px 0px;
    }
    
    #result{
        padding-top: 30px;
        
        iframe{
            display: inline-block;
            
            @media (min-width: @screen-sm-min) {
                width: 450px; 
                height: 300px;
            }

            @media (min-width: @screen-md-min) {
                width: 750px; 
                height: 550px;
            }

            @media (min-width: @screen-lg-min) {
                width: 900px; 
                height: 650px;
            }
        }
        
        .error{
            max-width: 100%;
            display: inline-block;
        }
    }
}
